.nav {
  background-color: var(--color-green);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  z-index: 1;
  flex-direction: column;
  color: var(--color-white);
}
.nav__titleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 1rem;
}
.nav__title {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  padding-left: 1rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  opacity: 1;
  animation: fade 5s linear infinite;
}
.nav__menu {
  padding-right: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}
.nav__menu:hover {
  transform: rotate(360deg);
}
.nav__mobile {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #006d77;
  padding-top: 1rem;
  z-index: 0;
}
.nav__tablet {
  display: none;
}
.nav__link:link,
.nav__link:visited,
.nav__link:active {
  color: white;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 0.5s ease-in;
}
.nav__link:link:hover {
  font-weight: bold;
  transform: scale(1.3);
}

.hero {
  margin-top: 5rem;
  background-image: url("../../Assets/images/hero.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  position: relative;
}
.hero__textDiv {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__quote {
  color: white;
  font-style: italic;
  font-weight: 400;
}
.hero__text {
  color: white;
  font-size: 0.9rem;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
