.intro {
  display: flex;
  flex-direction: column;
}
.intro__title {
  font-size: 1rem;
}
.intro__title:nth-of-type(1) {
  padding-top: 0.75rem;
}
.intro__title a {
  cursor: pointer;
  font-style: italic !important;
  text-decoration: none;
  color: var(--color-green);
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.info__pic {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info__right {
  width: 100%;
  margin-top: 1rem;
}
.info__text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: justify;
  text-justify: inter-word;
}
.info__text a {
  padding-left: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
  color: var(--color-green);
  font-weight: bold;
}

@media (min-width: 750px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info__pic {
    width: 30%;
    height: auto;
    object-fit: cover;
  }
  .info__right {
    width: 65%;
    margin-top: 0;
  }
}
