@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

:root {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-primary-text: rgb(69, 69, 69);
  --color-secondary: #415a77;
  --color-secondary-text: rgb(119, 141, 169);
  --color-footer: #577590;
  --color-button: rgb(58, 80, 107);
  --color-button-hover: #939490;
  --color-white: rgb(255, 255, 255);
  --color-green: #006d77;
  
  --padding-mobile: 1.25rem;
  --padding-desktop: 8rem;
  --padding-largeScreen: 16rem;

  --sectionGap-mobile: 2rem;
  --sectionGap-desktop: 3rem;
  --sectionGap-largeScreen: 5rem;
  
  height: 100%;
  width: 100vw;
}


